<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>Due Date</th>
      <th>Client</th>
      <th>Total Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.date %></td>
        <td><%= invoice.due_date %></td>
        <td><%= invoice.client_name %></td>
        <td><%= number_to_currency(invoice.total_amount) %></td>
        <td><%= invoice.status %></td>
        <td>
          <%= link_to 'View', invoice %>
          <%= link_to 'Edit', edit_invoice_path(invoice) %>
          <%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Invoice', new_invoice_path %>