<div id="<%= dom_id line_item %>">
  <p>
    <strong>Invoice:</strong>
    <%= line_item.invoice_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= line_item.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= line_item.quantity %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= line_item.unit_price %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= line_item.total_price %>
  </p>

</div>
